<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<section>
  <div class="backgroundFill">
    <h2>Skontaktuj się z nami</h2>
    <p>Jeśli masz jakiekolwiek pytania, śmiało skontaktuj się z nami, korzystając z poniższych informacji:</p>
    <ul>
      <li><i class="material-icons">signpost</i><strong>Adres:</strong> ul. Piekarnicza 123, Chlebowo</li>
      <li><i class="material-icons">phone</i><strong>Telefon:</strong> +123 456 7890</li>
      <li><i class="material-icons">mail</i><strong>Email:</strong> pepdotnet&commat;contact.info</li>
    </ul>
    <p>Sprawdź czy twojego pytania nie ma już w <a routerLink="/help" routerLinkActive="active"><strong>FAQ</strong></a>.</p>
    <p>Możesz również skorzystać z poniższego formularza, aby bezpośrednio wysłać do nas wiadomość:</p>
    <form [formGroup]="profileForm">
      <label>Imię i nazwisko</label><br>
      <input type="text" formControlName="name" name="name"/><br>
      <label>Email</label><br>
      <input type="email" formControlName="email" name="email"/><br>
      <label>Wiadomość</label><br>
      <textarea id="message" formControlName="message" rows="10"></textarea><br>
      <div class="sentArea">
        <button (click)="send()" [disabled]="!profileForm.valid">
          Wyślij<span class="material-symbols-outlined">send</span>
        </button>
        <p [ngClass]="(sent)?'displayed': 'notDisplayed'"><strong>Wiadomość została wysłana!</strong></p>
      </div>

    </form>
  </div>
</section>
