section{
  color: #18181B;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.backgroundFill{
  background: #DDDDDD;
  padding: 5px 20px 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  box-shadow: 0 0 10px rgba(175, 175, 175, 1);

}
h2{
  font-size: 45px;
}
p{
  border-bottom: #EEEEEE 1px solid;
  border-top: #EEEEEE 1px solid;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  gap: 15px;
}
input{
  border: none;
  border-radius: 8px;
  padding: 5px;
  height:20px;
  width: 100%;
}
img{
  width: 50%;
  max-width: 450px;
  height: auto;
}

button{
  max-width: 100px;
  border: none;
  border-radius: 8px;
  height: 50px;
  background: #afafaf;
}
button:hover{
  background: #EEEEEE;
  border: #afafaf 2px solid;
  transition: background-color 0.2s;
}

@media screen and (max-width: 830px){
  section{
    flex-direction: column;
    gap: 30px;
  }
  .backgroundFill{
    width: 90%;
  }
}
