section{
  color: #18181B;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backgroundFill{
  background: #DDDDDD;
  padding: 10px 40px 30px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(175, 175, 175, 1);

}
.header{
  display: flex;
  justify-content: space-between;
}
.headerElements{
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.headerDropdownMenu{
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;

  -webkit-filter: drop-shadow(0px 0px 10px rgba(175, 175, 175, 1));
  filter: drop-shadow(0px 0px 10px rgba(175, 175, 175, 1));
}
h2{
  margin-left: 50px;
  font-size: 45px;
}
h3{
  color: #afafaf;
}
p{
  margin: 5px 0 0 0;
}
table{
  background: #EEEEEE;
  color: black;
  border-radius: 8px;
}
tbody{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
tr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 46%;
  min-height: 22vh;
  border: #DDDDDD 2px solid;
  border-radius: 8px;
  margin: 18px;
  -webkit-box-shadow: 0 0 8px 0 rgba(175, 175, 175, 1);
  -moz-box-shadow: 0 0 8px 0 rgba(175, 175, 175, 1);
box-shadow: 0 0 8px 0 rgba(175, 175, 175, 1);
}
.productContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.productDetailsAndImage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.productDetails{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 100%;*/
}
.productName{
  font-size: 30px;
}
.productNameNPrice{
  display: flex;
  justify-content: space-between;
  border-bottom: #afafaf 1px solid;
  font-size: 26px;
  margin-bottom: 10px;
}
.productIngredients{
  display: flex;
  gap: 0 5px ;
}


img{
  width: 30%;
  height: auto;
}

.stillLoadedIMG{
  height: 100%;
}

.productContainer.out-of-stock {
  background-color: #DDDDDD;
  border-radius: 8px;
  transition: background-color 0.5s;
}

.productContainer.out-of-stock img {
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.productContainer button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.productIngredients{
  display: flex;
  flex-wrap: wrap;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  margin-top: 10px;
  width: 25%;
  min-width: 100px;
  border: none;
  border-radius: 8px;
  background: #afafaf;
  padding: 10px 0;
  font-size: 16px;
}
button:hover{
  background: #EEEEEE;
  border: #afafaf 2px solid;
  padding: 8px;
  transition: background-color 0.2s;
}

select{
  width: 25%;
  min-width: 130px;
  border: none;
  border-radius: 8px;
  background: #EEEEEE;
  padding: 10px;
  font-size: 16px;
}
option{
  background: #EEEEEE;
}

.loadingScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 26px;
}


@media screen and (max-width: 1150px){
  .header{
    flex-direction: column;
  }
  .headerDropdownMenu{
    align-items: flex-end;
  }
  tr{
    width: 98%;
  }
  /*.productDetailsAndImage{*/
  /*  font-size: 10px;*/
  /*}*/
  img{
  }
}
@media screen and (max-width: 650px){
  .productName{
    font-size: 20px;
  }
  .productNameNPrice{
    font-size: 18px;
  }
}
@media screen and (max-width: 500px){
  .backgroundFill {
    padding: 5px;
  }
  .productNameNPrice{
     font-size: 18px;
  }
  .headerElements{
    gap: 10px;
  }
}
