section{
  color: #18181B;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backgroundFill{
  background: #DDDDDD;
  padding: 10px 40px 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.headerElements{
  display: flex;
  align-items: center;
  gap: 0 30px;
}
h2{
  margin-left: 50px;
  font-size: 45px;
}
h3{
  color: #afafaf;
}
p{
  margin: 5px 0 0 0;
}
table{
  background: #EEEEEE;
  color: black;
  border-radius: 8px;
}
tbody{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
tr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 48%;
  min-height: 26vh;
  border: #DDDDDD 2px solid;
  border-radius: 8px;
  margin-top: 10px;
}
.productContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.productDetailsAndImage{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.productDetails{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 100%;*/
}
.productNameNPrice{
  display: flex;
  justify-content: space-between;
  border-bottom: #afafaf 1px solid;
  font-size: 26px;
  margin-bottom: 10px;
}
.productIngredients{
  display: flex;
  gap: 0 5px ;
}


img{
  height: 100%;
  width: 33%;
}

.productIngredients{
  display: flex;
  flex-wrap: wrap;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;


  width: 25%;
  min-width: 100px;
  border: none;
  border-radius: 8px;
  background: #afafaf;
  padding: 10px 0;
  font-size: 16px;
}
button:hover{
  background: #EEEEEE;
  border: #afafaf 2px solid;
  padding: 8px;
  transition: background-color 0.2s;
}


@media screen and (max-width: 1100px){
  tr{
    width: 98%;
  }
  .productDetailsAndImage{
    font-size: 10px;
  }

  .productNameNPrice{
    font-size: 20px;

  }
}
