<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<section>
  <div class="backgroundFill">
    <div class="header">
      <div class="headerElements">
        <h2>Sklep</h2>
        <h3>Świeże pieczywo na świeży dzień</h3>
      </div>
      <div class="headerDropdownMenu">
        <form>
          <select id="category" name="category" #categorySelected (change)="onCategoryChange(categorySelected.value)">
            <option *ngFor="let category of uniqueCategories" [value]="category">{{ category }}</option>
          </select>
        </form>
      </div>
    </div>
    <table>
      <tbody>
      <tr *ngIf="!products" class="loadingScreen">
        <div>Ładowanie sklepu...</div>
      </tr>
      <tr *ngFor="let product of filteredProducts">
        <div class="productContainer" [ngClass]="{'out-of-stock': isOutOfStock(product)}">
          <div class="productDetailsAndImage">
            <div class="productDetails">
              <div class="productNameNPrice">
                <td><strong>{{ product.name }}</strong></td>
                <td>{{ product.price | number:'1.2-2' }}<span style="font-size: 14px;">zł</span></td>
              </div>
              <td><strong>Opis:</strong> {{ product.description }}</td>
              <div class="productIngredients">
                <p><strong>Składniki:</strong></p>
                <p *ngFor="let ingredient of product.ingredients; let last = last;">{{ ingredient }}<span *ngIf="!last">, </span>
                </p>
              </div>
              @if(isOutOfStock(product)){<h4>Produkt niedostępny!</h4>}
            </div>
            <button (click)="addToCart(product)" [disabled]="isOutOfStock(product)">Dodaj<span class="material-symbols-outlined">shopping_cart</span></button>
          </div>
          @if (+product._id<21){
            <img  [src]="'../../../assets/breadPictures/' + product._id + '.jpg'" [alt]="product.name">} @else {
            <img class="stillLoadedIMG" ngSrc="../../../assets/PEPlaceholder.PNG" alt="productImage" height="200" width="200">}
        </div>
      </tr>
      </tbody>
    </table>
  </div>
</section>
