section{
  color: #18181B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backgroundFill{
  background: #DDDDDD;
  padding: 10px 40px 30px;
  width: 90vw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  font-size: 45px;
}
p{
  margin: 5px 0 10px;
}
.adminButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


/*dropdown menu*/
#category{
  height: 45px;
  border-radius: 8px;
  margin: 15px 0 15px 0;
  font-size: 25px;
  border: none;
  padding-left: 5px;

}

button{
  height: 20px;
  margin-top: 15px;
  background: #afafaf;
  padding: 25px 15px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 8px;
}
button:hover{
  background: #EEEEEE;
  border: #afafaf 2px solid;
  padding: 24px 14px;
  transition: background-color 0.2s;
}

.saveButton{
  background-color: rgba(0, 128, 0, 40%);
}
.deleteButton{
  background-color: rgba(255, 0, 0, 40%);
}

.adminProductsBackground{
  background-color: #EEEEEE;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.adminProductContainer {
  display: flex;
  align-items: center;


  height: 100px;
  width: 45%;
  min-height: 22vh;
  border: #DDDDDD 2px solid;
  border-radius: 8px;
  margin: 10px;
  background-color: #EEEEEE;
  cursor: pointer;

}

.adminProductContainer img {
  height: 100%;
  width: auto;
  margin-right: 10px;
  border-radius: 2px;
}

.stillLoadedIMG{
  max-width: 120px;
}

.editPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  padding: 20px 60px;
  z-index: 1000;
  border-radius: 8px;
}

.popupContent {
  display: flex;
  flex-direction: column;
}

.popupContent label, .popupContent input, .popupContent button {
  margin-bottom: 10px;
  height: 20px;
  min-width: 150px;
  width: auto;
}

.popupContent button {
  align-self: flex-end;
}
.error{
  color: red;
}

@media screen and (max-width: 750px){
  .adminProductContainer{
    width: 100%;
  }
  .adminButtons{
    flex-direction: column;
    gap: 5px;
  }
}
