footer{
  background: #afafaf
;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DDDDDD;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

a{
  text-decoration: none;
  color: #222;
}
a:hover{
  color: #666;
}
