<nav>
  <h1>
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">pep.net</a>
  </h1>
  <ul class="navbuttons-center-below-570" [class]="isCollapsed ? 'collapsed' : 'expanded'">
    <li><a class="navButtons" routerLink="/product-shop" routerLinkActive="active" ariaCurrentWhenActive="page">Sklep</a></li>
    <li><a class="navButtons" routerLink="/help" routerLinkActive="active" ariaCurrentWhenActive="page">O nas</a></li>
    <li><a class="navButtons" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Kontakt</a></li>
  </ul>
  <div class="loginButton" [class]="isCollapsed ? 'collapsed' : 'expanded'">
    <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page" style="width: auto">Koszyk @if(getCartItemsNumber()){{{getCartItemsNumber()}}}
    </a>
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Zaloguj</a>
  </div>
  <div class="arrow-visible-below-570">
    <a href="javascript:void(0);" (click)="toggleMenu()">
      <img src="assets/arrowIcon.svg" alt="burgerMenuIcon" width="50px" [class.rotated]="!isCollapsed" class="arrow">
    </a>
  </div>
</nav>
