@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Libre+Barcode+39&family=MonteCarlo&family=Roboto:wght@100&family=Russo+One&display=swap');

nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #eeeeee;
}

h1 {
  font-family: 'Dancing Script', cursive;
  /*font-family: 'MonteCarlo', cursive;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Russo One', sans-serif;*/
  width: 200px;
}

h1 a{
  width: 200px;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  padding: 0;
}

li{
  border: 3px solid #eeeeee;
  display: flex;
  justify-content: center;
  height: 45px;
  margin-top: 5px;
}

a{

  padding: 10px;
  text-decoration: none;
  color: #09090B;
  display: block;
  text-align: center;
}

.navButtons{
  border-radius: 8px;
  /*background: #afafaf ;*/
  width: 100px;
  height: 20px;
}

.navButtons:hover, .loginButton a:hover{
  font-style: italic;
  background: #dedede;
  transition: background-color 0.2s;
}
.loginButton{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton a{
  width: 60px;
  height: 21px;
  /*background: #afafaf ;*/
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-visible-below-570{
  display: none;
}

@media screen and (max-width: 740px) {
  h1{
    width:auto;
  }
  h1 a{
    width:auto;
  }
  ul{
     padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .arrow-visible-below-570{
    display: block;
  }
  nav{
    flex-direction: column-reverse;
    align-items: center;
  }
  .loginButton a{
    margin-top: 0;
  }
  .navbuttons-center-below-570 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  ul{
    margin: 0;
    padding: 0;
  }
}

/*TYPESCRIPT NEEDED CSS*/
.collapsed {
  display: none;
  height: 0;
}
.expanded {
  display: flex;
  height: auto;
}
.rotated{
  transform: rotate(90deg);
}
.arrow{
  transition: transform 0.3s ease;
}



