
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<main>

<div class="gettingStartedDiv">
  <section>
    <span class="material-symbols-outlined crossaint">bakery_dining</span>
<!--    <img src="assets/favicon.png" height="250px">-->
  </section>
  <section>
    <p> Dołącz do pep.net </p>
    <a  routerLink="/help" routerLinkActive="active" ariaCurrentWhenActive="page"><strong> Poznajmy się! </strong></a>
  </section>
</div>
<div class="contactUsDiv">
  <section>
    <p> Masz jakieś pytania? </p>
    <a routerLink="/contact" routerLinkActive="active"><strong> Skontaktuj się z nami! </strong></a>
  </section>
  <section>
    <span class="material-symbols-outlined questionMark">contact_support</span>
  </section>
</div>
  <div class="aboutUsDiv">
    <section>
      <div class="sideBySide">
        <img src="./assets/bakeryFront.png" width="50%" alt="bakery front, stylized like a cartoon">
        <span class="aboutUsSpan">
          <p>Dumni z naszej historii</p>
          <span class="aboutUsSpanText">
           Zaczynaliśmy jako skromne przedsięwzięnie w 1989, a teraz dowozimy chleb nawet przez internet!
          Codziennie dostarczamy świeże pieczywo do waszych domów, mieszkań i miejsc pracy czy nauki.
          Jesteśmy dozgonnie wdzięczni za okazane nam zaufanie.
          </span> <br>
          <a routerLink="/help" routerLinkActive="active"><strong> O nas! </strong></a>
        </span>
      </div>

    </section>
  </div>
  <div class="findOutMoreDiv">
    <section>
      <a routerLink="/product-shop" routerLinkActive="active" class="findOutMoreA"><strong> Przeglądaj produkty! </strong></a>
    </section>
  </div>

</main>

