main{
  min-height: 200px;
  width: 100%;
  left: 0;
  position: absolute;
}

div{
  min-width: 100%;
  min-height: 90vh;
  left: 0;
  position: relative;
}

.gettingStartedDiv, .contactUsDiv, .aboutUsDiv, .findOutMoreDiv{
  min-height: 1fr;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
}

.material-symbols-outlined{
  font-size:  30vh;
}
.gettingStartedDiv{
  background: #470EBA;
}
.crossaint{
  rotate: 10deg;
}

.contactUsDiv{
  background: #8075FF;
  height: 100vh;
}

.aboutUsDiv{
  background: #470EBA;
  height: 100vh;
}
.aboutUsSpan{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px 40px;

}
.aboutUsSpanText{
  font-size: smaller;
}
.sideBySide{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px
}
.findOutMoreDiv{
  height: 100vh;
  background-image: url("/assets/productsFront.png");
}
.findOutMoreA{
  background: rgba(238, 238, 238, 0.95);
  color: #18181B;
  box-shadow: 0 0 10px rgba(175, 175, 175, 1);
}


section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

a{
  text-align: center;
  /*height: 50px;*/
  border-radius: 10px;
  /*background: #18181B;*/
  text-decoration: none;
  color: #EEEEEE;
  background: rgba(0, 0, 0, 0.15);
  padding: 5px 15px;


}
p{
  font-size: 50px;
}
strong{
  text-wrap: none;
}

a:hover{
  color: #FFF;
  font-style: italic;
  background: rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s;

}
@media screen and (max-width: 1050px) {
  .aboutUsSpanText{
    font-size: 25px;
  }
}

@media screen and (max-width: 850px){
  .gettingStartedDiv, .contactUsDiv, .aboutUsDiv, .sideBySide, .findOutMoreDiv {
    flex-direction: column-reverse;
  }
  .aboutUsSpanText{
    font-size: 20px;
  }
  .sideBySide img{
    /*display: none;*/
    width: 70%;
  }
}
@media screen and (max-width: 650px){
  .material-symbols-outlined{
    font-size:  20vh;
  }
}
