div{
  color: #18181B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.SiteNotFoundMessage{
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DeDeDe;
  width: 400px;
  height: 200px;
}
