@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Libre+Barcode+39&family=Londrina+Solid:wght@100&family=Monoton&family=Roboto:wght@100&family=Silkscreen:wght@700&display=swap');
body{
  margin: 20px;

  /*font-family: 'Londrina Solid', serif;*/
  font-size: 20px;
  color: #DDD;
}

/*
Blacker -
    #09090B
Black -
    #18181B
Indigo -
    #470EBA
Blue -
    #8075FF
Mąka-type-color -
    #afafaf
White -
    #DDDDDD
Whiter -
    #EEEEEE
*/

